.border-top[b-ww5h623m21] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ww5h623m21] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ww5h623m21] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ww5h623m21] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ww5h623m21] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.logo-img[b-ww5h623m21] {
  width: 100px; 
  height: auto; 
  width: 50%;
}

.botones[b-ww5h623m21]
{
 padding-left: 220px;
}
.botligas[b-ww5h623m21]
{
  padding-left: 990px;
}
.botequipos[b-ww5h623m21]
{
  padding-left: 10px;
}
.imagenloca[b-ww5h623m21] {
  width: 100px; 
  height: auto;
  width: 20%;
}

