<body>

    <form action='@Url.Action("AgregarComentario","Home")' method="post" class="AddComentario">
        <label for="comentario">Comentario:</label>
        <input type="text" id="comentario" name="comentario" required>
        <button type="submit">Publicar</button>
    </form>
    <tbody>
        @foreach (Comentarios item in ViewBag.Comentarios)
        {
            <tr>
            <h1>Comentario Anonimo</h1>
                <td>@item.comentario</td> 
            </tr>
        }
    </tbody>
</table>
</body>