<body class="bodycoments">

    <form action='@Url.Action("AgregarComentario","Home")' method="post" class="AddComentario">
        <label for="comentario">Comentario:</label>
        <input type="text" id="comentario" name="comentario" required>
        <button type="submit">Publicar</button>
    </form>
    <tbody>
        @foreach (Comentarios item in ViewBag.Comentarios)
        {
            <div class="comentario">
                <p><b>Anonimo:</b></p>
                <p>@item.comentario</p> 
            </div>
        }
    </tbody>
</table>
</body>