

<body class="bodyequipo">

    <div class="container">


        <img src="/AFA-removebg-preview.png" alt="Imagen 1" class="left-image">
        <h1>TODOS LOS EQUIPOS DE LA LIGA ARGENTINA!</h1>
        <img src="/AFA-removebg-preview.png" alt="Imagen 1" class="right-image">


        <img src="png-transparent-football-open-graphics-ball-sports-equipment-sports-soccer-ball-removebg-preview.png" alt="">
        
      
    </div>
    <br>
    
  @foreach (equipo item in ViewBag.Equipos)
{
    <div class="equipo">
        <a href='@Url.Action("DetalleEquipo", new { equipoId = item.IDequipo })'>
            <img src="@item.Image_equipo" >
        </a>
        <span>@item.Nombre_equipo</span>  
    </div>
}

</body>

