



    <div class="container">


        <img src="IMAGENES/AFA-removebg-preview.png" alt="Imagen 1" class="left-image">
        <h1>TODOS LOS EQUIPOS DE LA LIGA ARGENTINA!</h1>
        <img src="IMAGENES/AFA-removebg-preview.png" alt="Imagen 1" class="right-image">


        <img src="IMAGENES/png-transparent-football-open-graphics-ball-sports-equipment-sports-soccer-ball-removebg-preview.png" alt="">
        
        <img src="IMAGENES/AFA-removebg-preview.png" alt="Imagen 2" class="right-image">
    </div>


 @foreach (equipo item in ViewBag.Equipos)
        {
        <div class="equipo">
        <img src="@item.Image_equipo " alt="">
        @item.Nombre_equipo

      
        </div>     
        }
      

     

    
      
      







