


    <div class="container">
        <img src="IMAGENES/AFA-removebg-preview.png" alt="Imagen 1" class="left-image">
        <h1>TODOS LOS EQUIPOS DE LA LIGA ARGENTINA!</h1>
        <img src="IMAGENES/AFA-removebg-preview.png" alt="Imagen 1" class="right-image">


<H1>Equipos</H1>

 @foreach (equipo item in ViewBag.Equipos)
        {
        <div class="equipo">
        <a href='@Url.Action("")'>
        <img src="@item.Image_equipo " alt="">
        </a>
       
        @item.Nombre_equipo
      
        </div>     
        }
      

     

    
      
      



