<h2>Jugadores por Posición</h2>


<div>
    <h3>Arqueros</h3>
    <ul>
        @foreach (jugador item in ViewBag.jugadoresArqueros)
        {
            <li>@item.nombreJugador</li>
        }
    </ul>
</div>

<div>
    <h3>Defensores</h3>
    <ul>
        @foreach (jugador item in ViewBag.jugadoresDefensores)
        {
            <li>@item.nombreJugador</li>
        }
    </ul>
</div>

<div>
    <h3>Mediocampistas</h3>
    <ul>
        @foreach (jugador item in ViewBag.jugadoresMediocampistas)
        {
            <li>@item.nombreJugador</li>
        }
    </ul>
</div>

<div>
    <h3>Delanteros</h3>
    <ul>
        @foreach (jugador item in ViewBag.jugadoresDelanteros)
        {
            <li>@item.nombreJugador</li>
        }
    </ul>
</div>
