<head>
    <link rel="stylesheet" href="site.css">
</head>

<body class="equiposbg">
<br>
    <div class="container">
        <img src="/AFA-removebg-preview.png" alt="Imagen 1" class="left-image">
        <h1>TODOS LOS EQUIPOS DE LA LIGA ARGENTINA!</h1>

        <img src="/png-transparent-football-open-graphics-ball-sports-equipment-sports-soccer-ball-removebg-preview.png" alt="">
        
        <img src="/AFA-removebg-preview.png" alt="Imagen 2" class="right-image">
    </div>
    <br>
   
        @foreach (equipo item in ViewBag.Equipos)
        {
        <div class="equipo">
        <a href='@Url.Action("")'>
        <img src="@item.Image_equipo " alt="">
        </a>
       
        @item.Nombre_equipo
        </div>  
           
        }

</body>

