<body>

    <form action='@Url.Action("Login","Home")' method="post" class="FormLogin">
        <label for="username">UserName:</label>
        <input type="text" id="Username" name="UserName" required>

        <label for="Contraseña">Contraseña:</label>
        <input type="Contraseña" id="Contraseña" name="Contraseña" required>
            
        <button type="submit">Iniciar Sesión</button>
    </form>

</body>