<body> 
    <section>
            <div>
                <a class="buttonIndex" href='@Url.Action("registrarForm","Home")'> Registrarme </a>
            </div>
            <div>
                <a class="buttonIndex" href='@Url.Action("LoginForm","Home")'> Login </a>
            </div>
            <div>
                <a class="buttonIndex" href='@Url.Action("olvideMiContraForm","Home")'> olvide Mi Contraseña </a>
            </div>
    </section>
</body>
