
    <header>
        <button type="button" class="btn btn-primary">Ligas</button>
        <button type="button" class="btn btn-primary">Equipos</button>
    </header>
    <div>
        <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Equipo</th>
      <th scope="col">PTS</th>
      <th scope="col">PJ</th>
      <th scope="col">PG</th>
      <th scope="col">PE</th>
      <th scope="col">PP</th>
      <th scope="col">GF</th>
      <th scope="col">GC</th>
      <th scope="col">DG</th>
     </tr>
   </thead>
   <tbody>
    <tr>
      <th scope="row">1</th>
    @foreach (var equipo in Model)
        {
            <li>@equipo.nombreEquipo</li>
        }
    </tr>
    <tr>
      <th scope="row">2</th>
    </tr>
    <tr>
      
    </tr>
    </tbody>
    </table>
    </div>

   
    
