<body>
  
<h2> Tu contraseña del mail @ViewBag.mail es @ViewBag.Contraseña </h2>

<div class="buttonDiv">
    <a class="buttonIndex" href='@Url.Action("LoginForm","Home")'> Login </a>
</div>

</body> 