USE [master]
GO
/****** Object:  Database [TpFinal]    Script Date: 21/11/2023 08:17:51 ******/
CREATE DATABASE [TpFinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TpFinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TpFinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TpFinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TpFinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TpFinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TpFinal]
GO
/****** Object:  User [alumno]    Script Date: 21/11/2023 08:17:51 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Comentarios]    Script Date: 21/11/2023 08:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentarios](
	[IdComentarios] [int] IDENTITY(1,1) NOT NULL,
	[comentario] [varchar](50) NULL,
	[FK_IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Comentarios] PRIMARY KEY CLUSTERED 
(
	[IdComentarios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipo]    Script Date: 21/11/2023 08:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipo](
	[IDequipo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_equipo] [varchar](50) NOT NULL,
	[Image_equipo] [varchar](50) NULL,
	[puntos_equipo] [int] NULL,
	[partido_jugados] [int] NULL,
	[partidos_ganados] [int] NULL,
	[partidos_empatados] [int] NULL,
	[partidos_perdidos] [int] NULL,
	[goles_a_favor] [int] NULL,
	[goles_en_contra] [int] NULL,
	[diferencia_de_gol] [int] NULL,
 CONSTRAINT [PK_Equipo] PRIMARY KEY CLUSTERED 
(
	[IDequipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fixture]    Script Date: 21/11/2023 08:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fixture](
	[IdFixture] [int] IDENTITY(1,1) NOT NULL,
	[Fkequipo] [int] NULL,
	[equipo_local] [varchar](50) NULL,
	[equipo_visitante] [varchar](50) NULL,
	[fecha_juego] [date] NULL,
	[Hora_Partido] [time](7) NULL,
 CONSTRAINT [PK_Fixture] PRIMARY KEY CLUSTERED 
(
	[IdFixture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fixture2]    Script Date: 21/11/2023 08:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fixture2](
	[IdFixture2] [int] IDENTITY(1,1) NOT NULL,
	[Fkequipo2] [int] NULL,
	[equipo_local2] [varchar](50) NULL,
	[equipo_visitante2] [varchar](50) NULL,
	[fecha_juego2] [date] NULL,
	[Hira_Partido2] [time](7) NULL,
 CONSTRAINT [PK_Fixture2] PRIMARY KEY CLUSTERED 
(
	[IdFixture2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugador]    Script Date: 21/11/2023 08:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugador](
	[IDjugador] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[pocision] [varchar](50) NULL,
	[pais] [varchar](50) NULL,
	[Fkequipo] [int] NULL,
 CONSTRAINT [PK_Jugador] PRIMARY KEY CLUSTERED 
(
	[IDjugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 21/11/2023 08:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Equipo] ON 

INSERT [dbo].[Equipo] ([IDequipo], [Nombre_equipo], [Image_equipo], [puntos_equipo], [partido_jugados], [partidos_ganados], [partidos_empatados], [partidos_perdidos], [goles_a_favor], [goles_en_contra], [diferencia_de_gol]) VALUES (1, N'RiverPlate', NULL, 61, 27, 18, 7, 2, 50, 15, 35)
INSERT [dbo].[Equipo] ([IDequipo], [Nombre_equipo], [Image_equipo], [puntos_equipo], [partido_jugados], [partidos_ganados], [partidos_empatados], [partidos_perdidos], [goles_a_favor], [goles_en_contra], [diferencia_de_gol]) VALUES (2, N'Arsenal', NULL, 50, 27, 15, 5, 7, 40, 25, 15)
INSERT [dbo].[Equipo] ([IDequipo], [Nombre_equipo], [Image_equipo], [puntos_equipo], [partido_jugados], [partidos_ganados], [partidos_empatados], [partidos_perdidos], [goles_a_favor], [goles_en_contra], [diferencia_de_gol]) VALUES (3, N'Atlético Tucumán', NULL, 46, 27, 14, 4, 9, 35, 30, 5)
SET IDENTITY_INSERT [dbo].[Equipo] OFF
GO
SET IDENTITY_INSERT [dbo].[Fixture] ON 

INSERT [dbo].[Fixture] ([IdFixture], [Fkequipo], [equipo_local], [equipo_visitante], [fecha_juego], [Hora_Partido]) VALUES (1, 1, N'Argentinos Juniors', N'Independiente', CAST(N'2023-11-01' AS Date), CAST(N'10:00:00' AS Time))
INSERT [dbo].[Fixture] ([IdFixture], [Fkequipo], [equipo_local], [equipo_visitante], [fecha_juego], [Hora_Partido]) VALUES (2, 2, N'Arsenal', N'Instituto', CAST(N'2023-11-01' AS Date), CAST(N'10:00:00' AS Time))
INSERT [dbo].[Fixture] ([IdFixture], [Fkequipo], [equipo_local], [equipo_visitante], [fecha_juego], [Hora_Partido]) VALUES (3, 3, N'Atlético Tucumán', N'Lanús', CAST(N'2023-11-01' AS Date), CAST(N'12:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Fixture] OFF
GO
SET IDENTITY_INSERT [dbo].[Fixture2] ON 

INSERT [dbo].[Fixture2] ([IdFixture2], [Fkequipo2], [equipo_local2], [equipo_visitante2], [fecha_juego2], [Hira_Partido2]) VALUES (1, 1, N'RiverPlate', N'Huracán', CAST(N'2023-11-02' AS Date), CAST(N'10:00:00' AS Time))
INSERT [dbo].[Fixture2] ([IdFixture2], [Fkequipo2], [equipo_local2], [equipo_visitante2], [fecha_juego2], [Hira_Partido2]) VALUES (2, 2, N'Instituto', N'Godoy Cruz', CAST(N'2023-11-02' AS Date), CAST(N'10:00:00' AS Time))
INSERT [dbo].[Fixture2] ([IdFixture2], [Fkequipo2], [equipo_local2], [equipo_visitante2], [fecha_juego2], [Hira_Partido2]) VALUES (3, 3, N'Belgrano', N'Gimnasia y Esgrima (LP)', CAST(N'2023-11-02' AS Date), CAST(N'12:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Fixture2] OFF
GO
SET IDENTITY_INSERT [dbo].[Jugador] ON 

INSERT [dbo].[Jugador] ([IDjugador], [nombre], [pocision], [pais], [Fkequipo]) VALUES (1, N'Agustín Álvarez Martínez', N'Delantero', N'Uruguay', 1)
INSERT [dbo].[Jugador] ([IDjugador], [nombre], [pocision], [pais], [Fkequipo]) VALUES (2, N'Nicolás Reniero', N'Delantero', N'Argentina', 1)
INSERT [dbo].[Jugador] ([IDjugador], [nombre], [pocision], [pais], [Fkequipo]) VALUES (3, N'Gabriel Carabajal', N'Mediocampista', N'Argentina', 1)
GO
SET IDENTITY_INSERT [dbo].[Jugador] OFF
GO
ALTER TABLE [dbo].[Fixture]  WITH CHECK ADD  CONSTRAINT [FK_Fixture_Equipo] FOREIGN KEY([Fkequipo])
REFERENCES [dbo].[Equipo] ([IDequipo])
GO
ALTER TABLE [dbo].[Fixture] CHECK CONSTRAINT [FK_Fixture_Equipo]
GO
ALTER TABLE [dbo].[Fixture2]  WITH CHECK ADD  CONSTRAINT [FK_Fixture2_Equipo] FOREIGN KEY([Fkequipo2])
REFERENCES [dbo].[Equipo] ([IDequipo])
GO
ALTER TABLE [dbo].[Fixture2] CHECK CONSTRAINT [FK_Fixture2_Equipo]
GO
ALTER TABLE [dbo].[Jugador]  WITH CHECK ADD  CONSTRAINT [FK_Jugador_Equipo] FOREIGN KEY([Fkequipo])
REFERENCES [dbo].[Equipo] ([IDequipo])
GO
ALTER TABLE [dbo].[Jugador] CHECK CONSTRAINT [FK_Jugador_Equipo]
GO
USE [master]
GO
