html {
  font-size: 14px;
background-image: url('/img/pasto.webp');
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

td,th {
  padding-left: 50px ; 
  
}
.container {
  font-family: Arial, sans-serif;
  background-color: #429931;



}
h1{
  text-align:center;
  font-family: fantasy;
  color: white;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
}
.container{   position: relative;}
.equipo {
  width: 13%;
  box-sizing: border-box;
  float: left;
  padding: 1em;
  margin: 3%;
  background-color: #80cfe7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 111px;
}

.equipo img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  width: 53px;
  height: 63px;
}

img{
  width: 7%; 
  height: auto;
  display: block; 
  margin: auto;
  margin-bottom: 10px;
}

.equipo h2 {
  margin-top: 0;
  align-items: center;
  margin-top: 0;
  justify-content: center;
}

.equipo p {
  color: #666;
  align-items: center;
  margin-top: 0;
  justify-content: center;
}

.left-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 10;
}

.right-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 10;
  left: 850;
}

   .navbar{

justify-content: center;
align-items: center;
display: flex;



 }
 .grandeboton
 {
   width: 300px;

   margin: 0 auto;

   border-bottom-style: double;




}



.H1Fixture{
  text-align: center;
  font-family: "helvetica neue";
  font-weight:bold;
  color: #a9ff08;
}
h2{
  text-align: center;
  font-family: "helvetica neue";
  font-weight:bold;
  color: #a9ff08;
}
h3{

  text-align: center;
  font-family: "helvetica neue";
  font-weight:bold;
  color: #a9ff08;
}


table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
  }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th,
  td {
    padding: 20px;
  }
  html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
  }
  
  thead th,
  tfoot th {
    font-family: "Rock Salt", cursive;
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 3px;
    font-size: 13px; 
    font-weight: bold;
    
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }

  thead,
tfoot {
  background: url(leopardskin.jpg);
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th,
tfoot th,
tfoot td {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5)
  );
  border: 3px solid purple;
}


  
  .TablaFixture {
    background-color: #429931;
    width: 40%;
    margin: auto;
    
  }
  caption {
    font-family: "Rock Salt", cursive;
    padding: 20px;
    font-style: italic;
    caption-side: bottom;
    color: #000000;
    font-weight: bold;
    text-align: right;
    letter-spacing: 1px;
  }

  .container1 {
    position: relative;
  }
  
  .left-image1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .right-image1 {
    position: absolute;
    top: 0;
    right: 0;
  }
  


